:root {
  --first-color: rgb(52, 74, 116);
  --second-color: rgb(228, 228, 228);
  --third-color: rgb(188, 188, 188);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
#root {
  padding: 10px;
}
.app-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  border-radius: 6px;
  padding: 16px;
  background-color: var(--second-color);
  border: 1px solid var(--third-color);
  box-shadow: 1px 1px 5px 1px var(--third-color);
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

#workspace {
  width: 35%;
}

#resume {
  width: 65%;
}

#workspace,
#resume {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.education {
  width: 100%;
  padding: 12px 0px;
  border-top: 1px solid var(--third-color);
}

.description {
  text-align: left;
}

.description-text {
  width: 80%;
}

.description-header-and-small-description {
  padding-bottom: 10px;
}

.personal-info {
  padding: 15px 30px;
  background-color: var(--first-color);
  color: white;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section-header {
  font-size: 1.7rem;
  padding: 15px;
  color: var(--first-color);
}

.section-description {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  padding: 15px;
  font-size: 1.1rem;
}
